@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0;
}